colorama==0.4.6
discord.py
Flask==3.1.2
httpx
requests==2.32.4
tls-client==1.0.1
typing_extensions==4.10.0
pymongo[srv]
fastapi
pydantic
uvicorn[standard]
websocket-client
websockets
aiofiles
aiohttp
discord-webhook
python-multipart
toml
